VSWT/Build/WindowsServer/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/WindowsClient/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Windows/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/TVOSClient/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/TVOS/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/MacServer/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/MacNoEditor/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/MacClient/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Mac/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/AndroidClient/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/AllDesktop/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Lumin/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/LinuxServer/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/LinuxNoEditor/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/LinuxClient/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Linux/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/IOSClient/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/IOS/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/HTML5/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_PVRTCClient/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_PVRTC/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_MultiClient/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_Multi/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_ETC2Client/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_ETC2/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_ETC1aClient/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_ETC1a/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_ETC1Client/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_ETC1/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_DXTClient/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_DXT/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_ATCClient/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_ATC/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_ASTCClient/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/Android_ASTC/FileOpenOrder/CookerOpenOrder.log
VSWT/Build/LuminClient/FileOpenOrder/CookerOpenOrder.log
